<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" >
    <mat-icon style="float:right;color:black;cursor:pointer;" (click)="sidenav.close()">
        clear
    </mat-icon>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a href="#">Orders</a></li>
        <li><a [routerLink]="['Customers']">Customers</a></li>
        <li><a [routerLink]="['Products']">Products</a></li>
        <li><a href="#">Payments</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="padding: 0px;" class="navbar">
      <div>
        <mat-icon style="color:bisque;height:48px;width:48px;font-size:48px;cursor:pointer;" (click)="sidenav.open()">view_headline</mat-icon>
        <label>E-Commerce Site</label>
      </div>
      <div style="font: normal 16px Times new roman;padding: 0px 5px;">
        <button mat-button (click)="DoLogin()">Login</button>
        <button mat-button (click)="DoRegister()">Register</button>
      </div>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>