<div class="Main">
    <mat-grid-list cols=3 color="primary" rowHeight="fit" style="height:400px;" gutterSize="10px;">
        <mat-grid-tile>Orders</mat-grid-tile>
        <mat-grid-tile>Customers</mat-grid-tile>
        <mat-grid-tile>Products</mat-grid-tile>
        <mat-grid-tile>Payments</mat-grid-tile>
        <mat-grid-tile>Orders</mat-grid-tile>
        <mat-grid-tile>Customers</mat-grid-tile>
        <mat-grid-tile>Products</mat-grid-tile>
        <mat-grid-tile>Payments</mat-grid-tile>
        <mat-grid-tile>Orders</mat-grid-tile>
        <mat-grid-tile>Customers</mat-grid-tile>
        <mat-grid-tile>Products</mat-grid-tile>
        <mat-grid-tile>Payments</mat-grid-tile>
    </mat-grid-list>
</div>